<main class="main">
  <header-layout />
  <!-- Cart UI -->
  <div class="wrapper-cart">
    <h1>shopping cart</h1>
    <div class="group-cart">
      <div class="header-cart">
        <div class="col-1">Image</div>
        <div class="col-2">Name</div>
        <div class="col-3">Price</div>
        <div class="col-4">Action</div>
      </div>
      <div class="body-cart">
        <div class="row-cart">
          <div class="col-1">
            <img src="assets/images/logo_congty.png" alt="Image" width="50px" />
          </div>
          <div class="col-2">Company</div>
          <div class="col-3">200$</div>
          <div class="col-4">
            <div class="btn-bin">
              <img
                src="assets/images/bin.jpg"
                alt="Bin"
                height="30px"
                width="30px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- text, property, attribute binding -->
  <div>{{ title.name }}</div>
  <button [disabled]="isDisabled">Click me</button>
  <img src="/assets/images/shopping_cart.png" alt="{{ contentImage }}" />
  <img src="/assets/images/shopping_cart.png" [attr.alt]="altText" />
  <!-- text, property, attribute binding -->
  <!-- Event -->
  <h1>Click is an event</h1>

  <button (click)="handleClick()">{{ nameBtn }}</button>
  <div>Message: {{ message }}</div>
  <button (click)="handleClickName('Tri')">Click name</button><br />
  <input type="text" (keyup)="updateField()" /><br />
  <!-- keyup event -->
  <input type="text" (keyup)="onKeyup($event)" /><br />
  <!-- change event -->
  <input type="text" (change)="onChange($event)" /><br />
  <!-- Event -->
  <!-- Two Way Binding -->
  <input type="text" [(ngModel)]="twoBindingMessage" />
  <p>Message:{{ twoBindingMessage }}</p>

  <router-outlet />
</main>
